.text_button_conteiner {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
}

.main_conteiner {
  width: 100%;
}

.button_details button {
  background-color: white;
  border: 2px rgb(0, 110, 255) solid;
  color: rgb(0, 110, 255);
  border-radius: 3px;
  padding: 5px 25px;
  font-weight: 100;
  font-size: 16px;
  
}

.img {
  width: 100%;
}

.text {
    font-weight:bold;
    font-size: 23px;
}

.details {
  position: absolute;
  top: 260px;
  left: 370px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 6px 0px;
}

.remove-button {
  background-color: inherit;
  border: none;
  position: relative;
  bottom: 45px;
  left: 180px;
  border-radius: 5px;
  color: red;
}
